behave
protobuf==3.19.4
certifi
chardet
idna
ipdb
jsonschema
kamene
parse
parse-type
pathlib
PyHamcrest
requests
selenium
six
urllib3
validator-collection
beautifulsoup4
simplejson
boto3
m3u8
python_hosts
singleton-decorator
mysql-connector-python
